{% extends "pppcemr/base.html" %}


{% block content %}
<h1>Add Assessment</h1>



<form action="" method="post">
	{% csrf_token %}
	<div class="ui-widget">
  		<label for="id_diagnosis">Diagnosis: </label>
  		<input id="id_diagnosis" name="diagnosis">
        <input id="diagnosis_pk" type="hidden" name="diagnosis_pk">
	</div>
	<button type="submit" class="save btn btn-default">Save</button>
	<button onclick="javascript: history.go(-1)" class="save btn btn-default">Cancel</button>
</form>
{% endblock %}
