{% extends "pppcemr/base.html" %}
{% block sidebar %}
{% for location in offices %}
			<li {% if encounter.room.office.id = location.id %} class = "active" {% endif %}><a href="{% url 'office_detail' location.id %}">{{ location.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<h1>Close Encounter</h1>

<div>Click "Save" to close the encounter.</div>

<form method="POST" class="post-form">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="btn-group" role="group" aria-label="...">
		<button type="submit" class="save btn btn-default">Save</button>
		<button onclick="javascript: history.go(-1)" class="save btn btn-default">Cancel</button>
		<a href="{% url 'view_encounter_summary' encounter.id %}" class="btn btn-default" target="_blank">View Summary</a>
	</div>
</form>
{% endblock %}