{% extends "pppcemr/base.html" %}


{% block content %}
<div class="page-header">
  <h2> Messages for {{ user.get_full_name }} </h2>
</div>

<div class="panel panel-default">
  	<div class="panel-heading">
		<h2 class="panel-title">Unread Messages:</h2>
	</div>
{% for message in user.employee.get_open_messages %}
	{% if forloop.first %}
  		<ul class="list-group">
  	{% endif %}
	<li class="list-group-item"><span><a href="{% url 'message_detail' message.id %}">{{ message }}</li>
	{% if forloop.last %}
  		</ul>
	{% endif %}
{% endfor %}
</div>


{% endblock %}
{% block admin %}
{{ block.super }}
<li><a href="{% url 'send_message' %}"><span class="glyphicon glyphicon-edit"></span> Compose Message</a></li>
{% endblock %}