{% extends "pppcemr/base.html" %}


{% block content %}
<div class="page-header">
  <h2> Tasks for {{ user.get_full_name }} </h2>
</div>

<div class="panel panel-default">
  	<div class="panel-heading">
		<h2 class="panel-title">User Tasks:</h2>
	</div>
{% for task in user.employee.get_open_tasks %}
	{% if forloop.first %}
  		<ul class="list-group">
  	{% endif %}
	{% if task.treatment %}
		{% if task.treatment.assessment %}
			<li class="list-group-item"><span><a href="{% url 'edit_treatment' task.treatment.encounter.id task.treatment.assessment.id task.treatment.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
		{% else %}
			<li class="list-group-item"><span><a href="{% url 'edit_encounter_treatment' task.treatment.encounter.id task.treatment.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
		{% endif %}
	{% else %}
		<li class="list-group-item"><span><a href="{% url 'task_detail' task.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
	{% endif %}
	{% if forloop.last %}
  		</ul>
	{% endif %}
{% endfor %}
</div>

{% for group in user.groups.all %}
<div class="panel panel-default">
  	<div class="panel-heading">
		<h2 class="panel-title">{{ group }} Tasks:</h2>
	</div>
{% for task in group.employeegroup.get_open_tasks %}
	{% if forloop.first %}
  		<ul class="list-group">
  	{% endif %}
	{% if task.is_open %}
		{% if task.treatment %}
			{% if task.treatment.assessment %}
				<li class="list-group-item"><span><a href="{% url 'edit_treatment' task.treatment.encounter.id task.treatment.assessment.id task.treatment.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
			{% else %}
				<li class="list-group-item"><span><a href="{% url 'edit_encounter_treatment' task.treatment.encounter.id task.treatment.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
			{% endif %}
		{% else %}
			<li class="list-group-item"><span><a href="{% url 'task_detail' task.id %}">{{ task }} ({% if task.owner %}{{task.owner}}{% else %}{{task.owner_group}}{% endif %})</a><a href="{% url 'close_task' task.id%}" class="btn btn-default btn-xs pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></span></li>
		{% endif %}
	{% endif %}
	{% if forloop.last %}
  		</ul>
	{% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}