{% extends "pppcemr/base.html" %}
{% block sidebar %}
{% for location in offices %}
			<li {% if encounter.room.office.id = location.id %} class = "active" {% endif %}><a href="{% url 'office_detail' location.id %}">{{ location.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<h1>Close Treatment</h1>

Treatment has been closed. Check the box below to re-open the treatment.  Otherwise, click Save to confirm.
<form method="POST" class="post-form">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="next_page" value="{{ request.META.HTTP_REFERER }}" />
	<button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}